*{
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
}

.header{
  min-height:100vh;
  width:100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/lightblue.png);
  background-position: center;
  background-size: cover;
  position:relative;
 
}

nav{
  display: flex;
  padding:2% 6%;
  justify-content:space-between;
}

nav img{
  width: 150px;
}
.nav-links{
  flex:1;
  text-align:right;
}
.nav-links ul li{
  list-style:none;
  display:inline-block;
  padding:8px 12px;
  position: relative;
}
.nav-links ul li a{
  color:#ffff;
  text-decoration:none;
  font-size:13px;
}
.nav-links ul li::after{
  content: '';
  width:0%;
  height:2px;
  background:blue;
  display:block;
  margin:auto;
  transition:0.5s;
}
.nav-links ul li:hover::after{
  width:100%;

}
.text-box{
  width:90%;
  color:#fff;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
}
.text-box h1{
  font-size:62px;

}
.text-box p{
  margin:10px 0 40px;
  font-size:14px;
  color:#fff;
}


/* rollno ra submit lai tala lageko */
.centerdown{
  position:relative;
  top:50px;
}



.fields{
 
  height: 45px;
  width: 30%;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  padding: 0 0 0 20px;
  background: rgba(255,255,255,0.1);
  outline: none;
  
}

.fields-show{
  
  border: none;
  border-radius: 30px;
  font-size: 15px;
  height: 45px;
  width:32%;
  outline: none;
  color: black;
  background: rgba(255,255,255,0.7);
  cursor: pointer;
  transition: .3s ;
}

.fields-show:hover{
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
